**/.vscode/
**/2-foundations/project-openstreetmap-route-planner/thirdparty/
**/2-foundations/project-openstreetmap-route-planner/build/
**/2-foundations/project-openstreetmap-route-planner/bin/
**/2-foundations/project-openstreetmap-route-planner/lib/